{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <form class="pt-3 mb-3" method="post">
        {% csrf_token %}
        <h3>Новая карта</h3>
        <div class="form-group mb-2">
            <label for="id_bank">{{ form.bank.label }}:</label>
            <select id="id_bank" name="bank" data-tags="true">
                {% for value, label in form.bank.field.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
            <!-- Кнопка для показа страницы с кодом добавления банка -->
            <a href="{% url 'add-bank-form' %}">
                <button class="btn btn-primary mt-1" id="add-new-bank-btn" type="button">
                    Добавить банк
                </button>
            </a>
        </div>
        <div class="form-group mb-2">
            <label for="id_type_card">{{ form.type_card.label }}:</label>
            <select id="id_type_card" name="type_card" data-tags="true">
                {% for value, label in form.type_card.field.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-2">
            <label for="id_credit_limit_card">Кредитный лимит карты:</label>
            <input type="text" id="id_credit_limit_card" name="credit_limit" class="form-input">
        </div>
        <div class="form-group mb-2">
            <label for="id_name_card">Имя карты:</label>
            <input type="text" id="id_name_card" name="name_card" class="form-input">
        </div>
        <div class="form-group mb-2">
            <label for="id_number_card">Номер карты:</label>
            <input type="number" id="id_number_card" name="number_card" class="form-input">
        </div>
        <div class="form-group mb-2">
            <label for="id_balans_card">Баланс карты:</label>
            <input type="number" id="id_balans_card" name="balans_card" class="form-input">
        </div>
        <!-- Общий блок для ошибок формы -->
        {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Пожалуйста, исправьте следующие ошибки:
            <ul>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!-- Кнопка отправки формы -->
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}