{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<!-- Боковое меню -->
{% include 'bot/includes/accordion.html' %}
<!-- Page content-->
<div class="container-fluid">
    <div class="filter-form">
    <!-- Форма фильтрации -->
    <form method="get" action="">
        <label for="start_date">Начальная дата:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">

        <label for="end_date">Конечная дата:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

        <label for="category">Категория операции:</label>
        <select id="category" name="category">
            <option value="">Все</option>
            {% for cat in category %}
            <option value="{{ cat.id }}" {% if cat.id|stringformat:"s" == request.GET.category %}selected{% endif %}>
                {{ cat.name_cat }}
            </option>
            {% endfor %}
        </select>
        <label for="type">Тип операции:</label>
        <select id="type" name="type">
            <option value="">Все</option>
            {% for cat in type %}
            <option value="{{ cat.id }}" {% if cat.id|stringformat:"s" == request.GET.type %}selected{% endif %}>
                {{ cat.name_type }}
            </option>
            {% endfor %}
        </select>
        <label for="card">Карта списания:</label>
        <select id="card" name="card">
            <option value="">Все</option>
            {% for c in card %}
            <option value="{{ c.id }}" {% if c.id|stringformat:"s" == request.GET.card %}selected{% endif %}>
                {{ c.name_card }} {{ c.number_card }}
            </option>
            {% endfor %}
        </select>
        <button class="btn btn-info" type="submit">Фильтровать</button>
        <a href="{{ telegram_user.get_url }}all_operation" class="btn btn-secondary">Сбросить фильтры</a>
    </form>
</div>
<div class="row">
    <!-- Основной контент -->
    <div class="content">
        <h2> Все транзакции (операции) </h2>
        <h4>Пользователь {{ user.first_name }} {{ user.last_name }}</h4>
        {% if all_operation %}
        <table class="table table-hover text-center auto-numbered">
            <thead>
            <tr>
                <th scope="col">п/п</th>
                <th scope="col">Время операции</th>
                <th scope="col">Карта списания</th>
                <th scope="col">Тип операции</th>
                <th scope="col">Категория операции</th>
                <th scope="col">Сумма операции</th>
                <th scope="col">Баланс после операции</th>
                <th scope="col">Текст уведомления</th>
                <th scope="col">Время добавления</th>
            </tr>
            </thead>
            <tbody>
            {% for operation in all_operation %}
            <tr>
                <td></td>
                {% if start_date %}
                <td class="table-filter"> {{ operation.datetime_amount }}</td>
                {% elif end_date %}
                <td class="table-filter"> {{ operation.datetime_amount }}</td>
                {% else %}
                <td>{{ operation.datetime_amount }}</td>
                {% endif %}
                {% if request.GET.card %}
                <td class="table-filter">{{ operation.card.name_card }} {{ operation.card.number_card }}</td>
                {% else %}
                <td>{{ operation.card.name_card }} {{ operation.card.number_card }}</td>
                {% endif %}
                {% if request.GET.type %}
                <td class="table-filter">{{ operation.category.type.name_type }}</td>
                {% else %}
                <td>{{ operation.category.type.name_type }}</td>
                {% endif %}
                {% if request.GET.category %}
                <td class="table-filter">{{ operation.category.name_cat }}</td>
                {% else %}
                <td>{{ operation.category.name_cat }}</td>
                {% endif %}
                <td>{{ operation.amount_operation }}</td>
                <td>{{ operation.balans }}</td>
                <td>{{ operation.note_operation }}</td>
                <td>{{ operation.datetime_add }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <hr>
        <h5>У вас нет занесенных транзакций</h5>
        <hr>
        {% endif %}
        <input type="hidden" name="next" value={{ request.path }}>
    </div>
    <a href="{% url 'add-operation-form' %}?next={{ request.path }}">
        <button class="btn btn-info">Добавить операцию</button>
    </a>
    <!-- Фото -->
    <!--        <div class="content col-xxl-2 col-xl-2 col-md-2 col-sm-2 col-xs-2">-->
    <!--            <img class="w-100 img-fluid" src="{% static 'bot/images/cards.jpeg' %}">-->
    <!--        </div>-->
</div>
<!-- Пагинация -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <!-- Ссылка на первую страницу -->
            <a href="?page=1{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if category %}&category={{ request.GET.category }}{% endif %}{% if type %}&type={{ request.GET.type }}{% endif %}{% if card %}&card={{ request.GET.card }}{% endif %}"><<</a>

        <!-- Ссылка на предыдущую страницу -->
            <a href="?page={{ page_obj.previous_page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if category %}&category={{ request.GET.category }}{% endif %}{% if type %}&type={{ request.GET.type }}{% endif %}{% if card %}&card={{ request.GET.card }}{% endif %}"><</a>
        {% endif %}

        <!-- Текущая страница -->
        <span class="current">
             {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <!-- Ссылка на следующую страницу -->
            <a href="?page={{ page_obj.next_page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if category %}&category={{ request.GET.category }}{% endif %}{% if type %}&type={{ request.GET.type }}{% endif %}{% if card %}&card={{ request.GET.card }}{% endif %}">></a>

        <!-- Ссылка на последнюю страницу -->
            <a href="?page={{ page_obj.paginator.num_pages }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if category %}&category={{ request.GET.category }}{% endif %}{% if type %}&type={{ request.GET.type }}{% endif %}{% if card %}&card={{ request.GET.card }}{% endif %}">>></a>
        {% endif %}
    </span>
    <div> Найдено записей: {{ total_operations }}</div>
</div>
</div>
</div>
</div>
{% endblock %}