{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="{% static 'bot/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Подключение личных CSS -->
    <link type="text/css" href="{% static 'bot/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<!--Подключаем NavBar-->
{% include 'bot/includes/nav_bar.html' %}

{% block content %}

{% endblock %}


<!--Подключаем футер -->
{% include 'bot/includes/footer.html' %}


<!-- Подключение Bootstrap JS (необязательно, если не используете JS-компоненты) -->
<script src="{% static 'bot/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>