<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="{% static 'bot/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Подключение личных CSS -->
    <link type="text/css" href="{% static 'bot/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<!--Подключаем NavBar-->
{% include 'bot/includes/nav_bar.html' %}


<div class="container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <i class="fas
                    {% if message.tags == 'success' %}fa-check-circle{% endif %}
                    {% if message.tags == 'info' %}fa-info-circle{% endif %}
                    {% if message.tags == 'warning' %}fa-exclamation-triangle{% endif %}
                    {% if message.tags == 'error' %}fa-times-circle{% endif %}
                "></i>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>


{% block content %}
{% endblock %}

<!--Подключаем футер -->
<div>
    {% include 'bot/includes/footer.html' %}
</div>


<!-- Подключение Bootstrap JS (необязательно, если не используете JS-компоненты) -->
<script src="{% static 'bot/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>