{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<!-- Боковое меню -->
<div class="container my-accordion text-center">
    <div class="row">
        {% include 'bot/includes/accordion.html' %}

        <!-- Основной контент -->
        <div class="content col-xxl-6 col-xl-6 col-md-5 col-sm-4 col-xs-3">
            <h2> Информация о картах (кошельках) </h2>
            <h3> {{ user }} </h3>
                {% if not cards %}
            <hr>
                <h5>
                    У вас нет открытых карт
                </h5>
            <hr>
            {% else %}
            <table class="table table-hover text-center auto-numbered">
                <thead>
                <tr>
                    <th scope="col">п/п</th>
                    <th scope="col">Банк</th>
                    <th scope="col">Имя карты</th>
                    <th scope="col">Номер карты</th>
                    <th scope="col">Баланс (руб.)</th>
                </tr>
                </thead>
                <tbody>
                {% for card in cards %}
                <tr>
                    <td></td>
                    <td>{{ card.BankCard_CardUser }}</td>
                    <td>{{ card.name_card }}</td>
                    <td>{{ card.number_card }}</td>
                    <td>{{ card.balans_card }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            {% endif %}
        </div>

        <!-- Фото -->
        <div class="content col-xxl-3 col-xl-3 col-md-3 col-sm-2 col-xs-2">
            <img class="w-100 img-fluid" src="{% static 'bot/images/cards.jpeg' %}">
        </div>
    </div>
</div>
{% endblock %}