{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<!-- Боковое меню -->
{% include 'bot/includes/accordion.html' %}
<!-- Page content-->
<div class="container-fluid">
    <div class="row">
        <!-- Основной контент -->
        <div class="content col-xxl-9 col-xl-9 col-md-8 col-sm-6 col-xs-5">
            <h2> Категории операций </h2>
            <h4>Пользователь {{ telegram_user }}</h4>
            <table class="table table-hover text-center auto-numbered">
                <thead>
                <tr>
                    <th scope="col">п/п</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Время добавления</th>
                    <th scope="col">Время последнего изменения</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categoryes %}
                <tr>
                    <td></td>
                    <td>{{ category.name_cat }}</td>
                    <td>{{ category.datetime_add }}</td>
                    <td>{{ category.datetime_update }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Фото -->
        <div class="content col-xxl-2 col-xl-2 col-md-2 col-sm-2 col-xs-2">
            <img class="w-100 img-fluid" src="{% static 'bot/images/cards.jpeg' %}">
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}