{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<!-- Боковое меню -->
{% include 'bot/includes/accordion.html' %}
<!-- Page content-->
<div class="container-fluid">
    <div class="row">
        <!-- Основной контент -->
        <div class="content col-xxl-9 col-xl-9 col-md-8 col-sm-6 col-xs-5">
            <h2> Категории операций </h2>
            <h4>Пользователь {{ user.first_name }} {{ user.last_name }}</h4>
            <table class="table table-hover text-center auto-numbered">
                <thead>
                <tr>
                    <th scope="col">п/п</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Время добавления</th>
                    <th scope="col">Время последнего изменения</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categoryes %}
                <tr>
                    <td></td>
                    <td>{{ category.name_cat }}</td>
                    <td>{{ category.datetime_add }}</td>
                    <td>{{ category.datetime_update }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="next" value={{ request.path }}>
            <!-- Кнопка для показа страницы с кодом добавления карты -->
            <a href="{% url 'add-category-form' %}?next={{ request.path }}">
                <button class="btn btn-primary mt-1" id="add-category-btn" type="button">
                    Добавить категорию
                </button>
            </a>
        </div>

        <!-- Фото -->
        <div class="content col-xxl-2 col-xl-2 col-md-2 col-sm-2 col-xs-2">
            <img class="w-100 img-fluid" src="{% static 'bot/images/cards.jpeg' %}">
        </div>
    </div>
    <!-- Пагинация -->
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <!-- Ссылка на первую страницу -->
            <a href="?page=1"><<</a>

        <!-- Ссылка на предыдущую страницу -->
            <a href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        <!-- Текущая страница -->
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <!-- Ссылка на следующую страницу -->
            <a href="?page={{ page_obj.next_page_number }}">></a>

        <!-- Ссылка на последнюю страницу -->
            <a href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
    </span>
    </div>
</div>

{% endblock %}