{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<!-- Боковое меню -->
{% include 'bot/includes/accordion.html' %}
<!-- Page content-->
<div class="filter-form p-2">
    <!-- Форма фильтрации -->
    <form method="get" action="">
        <label for="start_date">Начальная дата:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">

        <label for="end_date">Конечная дата:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">

        <label for="card">Карта списания:</label>
        <select id="card" name="card">
            <option value="">Все</option>
            {% for c in cards %}
            <option value="{{ c.id }}" {% if c.id|stringformat:"s" == request.GET.card %}selected{% endif %}>
                {{ c.name_card }} {{ c.number_card }}
            </option>
            {% endfor %}
        </select>

        <button class="btn btn-info" type="submit">Фильтровать</button>
        <a href="{{ telegram_user.get_url }}finance-report" class="btn btn-secondary">Сбросить фильтры</a>
    </form>
</div>
<div class="container my-5">
    <h1 class="text-center mb-4">Отчет по личным финансам</h1>
    <div class="row mb-4">
        <div class="col-md-6">
            {% if start_date and not end_date %}
            <p><strong class="p-2">Период:</strong>с {{ start_date }} по настоящее время</p>
            {% elif start_date and end_date %}
            <p><strong class="p-2">Период:</strong>с {{ start_date }} по {{ end_date }}</p>
            {% elif not start_date and end_date %}
            <p><strong class="p-2">Период:</strong>с момента регистрации по {{ end_date }}</p>
            {% else %}
            <p><strong class="p-2">Период:</strong>с момента регистрации по настоящее время</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <p><strong>Валюта:</strong> RUB</p>
        </div>
    </div>

    <!-- Доходы -->
    <h2 class="mb-3">1. Доходы</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>Категория дохода</th>
            <th>Сумма (руб.)</th>
            <th>Доля дохода по категории в<br>в общей сумме доходов (%)
            </th>
        </tr>
        </thead>
        <tbody>
        {% for cat in queryset_income %}
        <tr>
            <td>{{ cat.category__name_cat }}</td>
            <td>{{ cat.total_amount|floatformat:2 }}</td>
            <td class="comment">{{ cat.percentage|floatformat:2 }} % </td>
        </tr>
        {% endfor %}
        <tr class="total-row">
            <td><strong>Итого доход в {{ total_count_income }} категориях</strong></td>
            <td><strong>{{ total_sum_income|floatformat:2 }}</strong></td>
            <td><strong>{{ total_percentage_income|floatformat:0 }} %</strong></td>
        </tr>
        </tbody>
    </table>

    <!-- Возвраты -->
    <h2 class="mb-3">2. Возвраты</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>Категория возврата</th>
            <th>Сумма (руб.)</th>
            <th>Доля возврата по категории в<br>в общей сумме возвратов (%)
            </th>
        </tr>
        </thead>
        <tbody>
        {% for cat in queryset_refund %}
        <tr>
            <td>{{ cat.category__name_cat }}</td>
            <td>{{ cat.total_amount|floatformat:2 }}</td>
            <td class="comment">{{ cat.percentage|floatformat:2 }} % </td>
        </tr>
        {% endfor %}
        <tr class="total-row">
            <td><strong>Итого возврат в {{ total_count_refund }} категориях</strong></td>
            <td><strong>{{ total_sum_refund|floatformat:2 }}</strong></td>
            <td><strong>{{ total_percentage_refund|floatformat:0 }} %</strong></td>
        </tr>
        </tbody>
    </table>

    <!-- Расходы -->
    <h2 class="mb-3">3. Расходы</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>Категория расхода</th>
            <th>Сумма (руб.)</th>
            <th>
                Доля расхода по категории в<br>общей сумме расходов (%)
            </th>
        </tr>
        </thead>
        <tbody>
        {% for cat in queryset_expense %}
        <tr>
            <td>{{ cat.category__name_cat }}</td>
            <td>{{ cat.total_amount|floatformat:2 }}</td>
            <td class="comment">{{ cat.percentage|floatformat:2 }} % </td>
        </tr>
        {% endfor %}
        <tr class="total-row">
            <td><strong>Итого расходов в {{ total_count_expense }} категориях</strong></td>
            <td><strong>{{ total_sum_expense|floatformat:2 }}</strong></td>
            <td><strong>{{ total_percentage_expense|floatformat:0 }} %</strong></td>
        </tr>
        </tbody>
    </table>

    <!-- Итоги -->
    <h2 class="mb-3">4. Итоги</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>Показатель</th>
            <th>Сумма (руб.)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Общий доход (руб.)</td>
            <td>{{ total_sum_income|floatformat:2 }}</td>
        </tr>
        {% if total_sum_refund %}
         <tr>
            <td>Общий возврат (руб.)</td>
            <td>{{ total_sum_refund|floatformat:2 }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>Общий расход (руб.)</td>
            <td>{{ total_sum_expense|floatformat:2 }}</td>
        </tr>
        <tr class="total-row">
            <td><strong>Разница (доход {% if total_sum_refund %}+ возврат {% endif %} - расход)</strong></td>
            <td><strong>{{ total_difference|floatformat:2 }}</strong></td>
        </tr>
        </tbody>
    </table>
    {% if credit_limit %}
    <!-- Информация по кредитной карте -->
    <h2 class="mb-3">5. Кредитная карта</h2>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>Показатель</th>
            <th>Сумма (руб.)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Кредитный лимит (руб.)</td>
            <td>{{ credit_limit }}</td>
        </tr>
         <tr>
            <td>Баланс на начало периода(руб.)</td>
            <td>{{ balance_in|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Задолженность по карте на начало периода (руб.)</td>
            <td>{{ debt_in|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Израсходовано (руб.)</td>
            <td>{{ total_sum_expense|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Пополнено (руб.)</td>
            <td>{{ total_in|floatformat:2 }}</td>
        </tr>
         <tr>
            <td>Баланс на конец (руб.)</td>
            <td>{{ balance_end }}</td>
        </tr>
        <tr class="total-row">
            <td><strong>Разница (пополнено - израсходовано)</strong></td>
            <td><strong>{{ difference|floatformat:2 }}</strong></td>
        </tr>
        <tr class="total-row">
            <td><strong>Задолженность по карте на конец периода (руб.)</strong></td>
            <td><strong>{{ debt_end }}</strong></td>
        </tr>
        </tbody>
    </table>
    <!-- Анализ и комментарии -->
    <h2 class="mb-3">6. Анализ и комментарии</h2>
    <div class="card">
        <div class="card-body">
            <p class="card-text">[Напишите краткий анализ: например, на что ушло больше всего денег, где можно сократить
                расходы, какие цели достигнуты.]</p>
            <p class="card-text">[Планы на следующий месяц: например, увеличить доходы, сократить расходы на развлечения
                и т.д.]</p>
        </div>

    </div>
    {% else %}
    <!-- Анализ и комментарии -->
    <h2 class="mb-3">5. Анализ и комментарии</h2>
    <div class="card">
        <div class="card-body">
            <p class="card-text">[Напишите краткий анализ: например, на что ушло больше всего денег, где можно сократить
                расходы, какие цели достигнуты.]</p>
            <p class="card-text">[Планы на следующий месяц: например, увеличить доходы, сократить расходы на развлечения
                и т.д.]</p>
        </div>
    </div>
    {% endif %}
</div>
</div>
</div>
{% endblock %}