{% extends 'bot/base.html' %}

{% block title %} Все пользователи телеграм бота {% endblock %}

{% block content %}
<div class="container mt-4">
    <div>
        <h1>
            Список пользователей
        </h1>
    </div>
    <table class="table table-hover text-center auto-numbered">
        <thead>
        {% if not users %}
        <hr>
        <h2> Начните работу с WalletBot чтобы увидеть информацию </h2>
        <hr>
        {% else %}
        <tr>
            <th scope="col">п/п</th>
            {% for title in title_col %}
            <th scope="col">{{ title.title }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td></td>
            <td>{{ user.id }}</td>
            <td><a href="{{ user.get_url }}">{{ user.telegram_id }}</a></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.datetime_add }}</td>
            <td>{{ user.datetime_update }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}