{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="interface-section text-center">
                <!-- Иконка (можно заменить на свою) -->
                <div class="interface-icon">📱</div>
                <!-- Заголовок -->
                <h1 class="interface-title">Удобный интерфейс. Простое управление финансами для всех.</h1>
                <!-- Текст -->
                <p class="interface-text">
                    Наш интуитивно понятный интерфейс разработан с учетом потребностей каждого пользователя.
                    Управляйте своими финансами легко и быстро, даже если вы новичок.
                    Все функции доступны в несколько кликов, а наглядные графики и отчеты помогут вам всегда быть в
                    курсе своих расходов и доходов.
                </p>
                <!-- Дополнительная кнопка (опционально) -->
                {% if request.user.is_authenticated %}
                <a href="{{ user_t.get_url }}" class="btn btn-success mt-3">Начать сейчас</a>
                {% else %}
                <a href="{% url 'register' %}" class="btn btn-success mt-3">Начать сейчас</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}