{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<!-- Боковое меню -->
{% include 'bot/includes/accordion.html' %}
<!-- Page content-->
<div class="container-fluid">
    <div class="row">
        <div class="content col-xxl-7 col-xl-5 col-md-7 col-sm-8 col-xs-9">
            <ul class="text-left">
                <h2> Пользователь {{ telegram_user.last_name }} {{ user.first_name }}</h2>
                <hr>
                <h4>ID пользователя: {{ telegram_user.id }} </h4>
                <h4>Телеграмм ID: {{ telegram_user.telegram_id }}</h4>
                <h4>Имя пользователя: {{ telegram_user.last_name }} {{ user.first_name }}</h4>
                <h4>Дата рождения: {{ telegram_user.birth_date }}</h4>
                <h4>Пол: {{ telegram_user.gender }}</h4>
                <h4>Email: {{ telegram_user.email }}</h4>
                <hr>
                <h5>Текущее время: {{ now|date:"DATETIME_FORMAT" }}</h5>
            </ul>
        </div>

        <!-- Фото -->
        <div class="content col-xxl-5 col-xl-4 col-md-5 col-sm-4 col-xs-3">
            <img class="img-fluid" src="{% static 'bot/images/wallet.jpg' %}">
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
