{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<!-- Боковое меню -->
<div class="container my-accordion text-center">
    <div class="row">
        {% include 'bot/includes/accordion.html' %}

        <!-- Основной контент -->
        <div class="content col-xxl-5 col-xl-5 col-md-5 col-sm-5 col-xs-3">
            <h2> Пользователь {{ user }}</h2>
            <h4>ID пользователя: {{ user.id }} </h4>
            <h4>Телеграмм ID: {{ user.telegram_id }}</h4>
            <h4>Имя пользователя: {{ user.first_name }}</h4>
            <h4>Email: {{ user.email }}</h4>
            <h4>Пол: {{ user.gender }}</h4>
        </div>

        <!-- Фото -->
        <div class="content col-xxl-4 col-xl-4 col-md-4 col-sm-3 col-xs-3">
            <img class="img-fluid" src="{% static 'bot/images/wallet.jpg' %}">
        </div>
    </div>
</div>
    {% endblock %}
