{% extends 'bot/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="security-section text-center">
                <!-- Иконка -->
                <div class="security-icon">🔒</div>
                <!-- Заголовок -->
                <h1 class="security-title">Безопасность. Ваши данные защищены.</h1>
                <!-- Текст -->
                <p class="security-text">
                    Мы используем передовые технологии шифрования и защиты данных, чтобы обеспечить максимальную
                    безопасность вашей информации.
                    Все ваши данные хранятся на защищенных серверах и передаются только по зашифрованным каналам связи.
                    Ваша конфиденциальность — наш приоритет.
                </p>
                <!-- Дополнительная кнопка (опционально) -->
<!--                <a href="#" class="btn btn-primary mt-3">Узнать больше</a>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}