{% load static %}

<footer class="text-white py-4 mt-4 custom-gradient">
    <div class="container footer">
        <div class="row">
            <div class="col-md-4">
                <h5>О нас</h5>
                <p>Первый проект в Django + Телеграм bot.</p>
            </div>
            <div class="col-md-4">
                <h5>Ссылки</h5>
                <ul class="list-unstyled">
                    <li><a href="/home" class="text-white">Главная</a></li>
                    <li><a href="/about" class="text-white">О нас</a></li>
                    <li><a href="/contact" class="text-white">Контакты</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li>Email: vvk77777@mail.ru</li>
                    <li>Телефон: +7 (913) 505-07-73</li>
                </ul>
            </div>
        </div>
    </div>
    <div
        class="text-center py-3 footer"
        style="background-color: rgba(51, 2, 66, 0.5)"
    >
        © 2025 Wallet site. Все права защищены.
    </div>
</footer>
