 html,
body {
    height: 100%; /* Занимаем всю высоту экрана */
    display: grid;
    grid-template-rows: auto 1fr auto; /* Шапка, контент, футер */
}

.auto-numbered {
    counter-reset: rowNumber; /* Инициализация счетчика */
}

.auto-numbered tbody tr {
    counter-increment: rowNumber; /* Увеличение счетчика для каждой строки */
}

.auto-numbered tbody tr td:first-child::before {
    content: counter(rowNumber); /* Отображение номера строки */
    margin-right: 10px;
}
.img-home {
    width: 400px;
    height: 300px;
    object-fit: contain; /* Обрезка изображения */
    border-radius: 10px; /* Скругление углов */
}

footer {
    grid-row: 3; /* Футер в третьей строке */
}

.sidebar {
    height: 533px; /* Высота на всю страницу */
    width: 150px; /* Ширина меню */
    position: fixed; /* Фиксированное положение */
    top: 7vh;
    left: 0;
    background-color: #1b2394; /* фон */
    padding-top: 20px;
}

.sidebar a {
    color: white; /* Белый цвет текста */
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #575d63; /* Цвет при наведении */
}

.content {
    margin-left: 0px; /* Отступ для основного контента */
    padding: 20px;
}

.my-accordion {
    margin-left: 0px;
    padding: 5px;
}

.footer {
    margin-left: auto;
}

.author {
    margin: 5rem;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #cc0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.last {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Выравнивание элементов по правому краю */
    gap: 10px; /* Расстояние между элементами */
}

.profile h2 {
    text-align: center;
    margin: 2rem;
}

.author {
    margin: 2rem 5rem;
}

# Мессадж сообщения .alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    background-color: lightblue;
    padding: 20px;
}

body {
    font-family: "Roboto", sans-serif;
}
.hero {
    background: #f4f4f4;
    padding: 100px 0;
}
.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.contact-section {
    padding: 80px 0;
}
.contact-info {
    background: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
}
.contact-info h3 {
    margin-bottom: 20px;
}
.contact-info ul {
    list-style: none;
    padding: 0;
}
.contact-info ul li {
    margin-bottom: 15px;
}
.contact-info ul li i {
    margin-right: 10px;
    color: #007bff;
}
.contact-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.btn-reg {
    --bs-btn-color: #2b5076;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-bg: #cfe2ff;
}
/* Стили для времени в навбаре */
.navbar-time {
    margin-left: auto; /* Выравнивание по правому краю */
    margin-right: 20px; /* Отступ справа */
    color: #2b5076;
    font-weight: bold;
}

/* Стили для analitics */
.highlight {
    font-weight: bold;
    color: #000;
}
.section {
    margin-bottom: 40px;
}

/* Стили для security */
.security-section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.security-icon {
    font-size: 48px;
    color: #0d6efd;
    margin-bottom: 20px;
}
.security-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.security-text {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* Стили для interface */
.interface-section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.interface-icon {
    font-size: 48px;
    color: #28a745;
    margin-bottom: 20px;
}
.interface-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.interface-text {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* Стили для registration */
.registration-icon {
    font-size: 48px;
    color: #ffc107;
    margin-bottom: 20px;
}
.registration-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.registration-text {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* Градиент заливки футера */
.custom-gradient {
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(8, 8, 110, 1) 0%,
        rgba(9, 9, 121, 1) 3%,
        rgba(0, 212, 255, 1) 100%
    );
}

/* Стили для пагинации */
.pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}
.pagination .current {
    font-weight: bold;
    margin: 0 10px;
}

/* Стили для фильтров */
.filter-form {
    margin-bottom: 20px;
}
.filter-form label {
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.filter-form select,
.filter-form input[type="date"] {
    margin-right: 10px;
    padding: 5px;
}
/* Стили для фильтров, выделение полей по которым построен фильтр */
td.table-filter {
    background-color: #a6aea6;
}
/* Стили для финансового отчета */
.total-row {
    font-weight: bold;
    background-color: #f8f9fa;
}
.comment {
    color: #6c757d;
    font-size: 0.9em;
}