html, body {
  height: 100%; /* Занимаем всю высоту экрана */
  display: grid;
  grid-template-rows: auto 1fr auto; /* Шапка, контент, футер */
}

.auto-numbered {
    counter-reset: rowNumber; /* Инициализация счетчика */
    }

.auto-numbered tbody tr {
  counter-increment: rowNumber; /* Увеличение счетчика для каждой строки */
}

.auto-numbered tbody tr td:first-child::before {
  content: counter(rowNumber); /* Отображение номера строки */
  margin-right: 10px;
}

footer {
  grid-row: 3; /* Футер в третьей строке */
}

.sidebar {
  height: 533px; /* Высота на всю страницу */
  width: 150px; /* Ширина меню */
  position: fixed; /* Фиксированное положение */
  top: 7vh;
  left: 0;
  background-color: #1b2394; /* фон */
  padding-top: 20px;
}

.sidebar a {
  color: white; /* Белый цвет текста */
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.sidebar a:hover {
  background-color: #575d63; /* Цвет при наведении */
}

.content {
  margin-left: 0px; /* Отступ для основного контента */
  padding: 20px;
}

.my-accordion {
    margin-left: 0px;
    padding: 5px;
}

.footer {
    margin-left: auto;}

.author {
    margin: 5rem;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.last {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Выравнивание элементов по правому краю */
  gap: 10px; /* Расстояние между элементами */
}

.profile h2{
    text-align: center;
    margin: 2rem;
}

.author {
     margin: 2rem 5rem;
}
